<div>
  <div class="topbar"></div>
  <div class="main-layout">
    <div class="nav ">
      <ul class="navbar-nav w-100">
        <li class="nav-item" routerLink="/author" >
          <a class="nav-link text-white" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Authors</a>
        </li>
        <li class="nav-item" routerLink="/fav-author" routerLinkActive="active">
          <a class="nav-link text-white" routerLinkActive="active">Fav-Authors</a>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="features">
          <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
